<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>G-Help</title>

<!-- CSS (load bootstrap from a CDN) -->
	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/simple-sidebar.css' />
<style>
    body    { padding-top:50px; }
</style>