<!DOCTYPE html>
<html ng-app>
  <head>
    <title>Ruth's web site</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Ruthi web site</h1>
    <p>Click on a link to visit a page.</p>
    <ul>
		<li><a href="sports.html">My favorite sports</a></li>
		<li><a href="about.html">About Me</a></li>
	</ul>
        <p>The user count in my nodejs application is: <%= userCount %></p>   
        <p>The stored single user count in my redis database is <%= DBuserCountBy1 %></p>
        <p>The stored user by two count in my redis database is <%= DBuserCountBy2 %></p>
   </body>
</html>

