<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
<div class="container fill col-lg-10 col-lg-offset-1">
    <header style="margin-top: 50px;">
        <% include ../partials/header %>
    </header>
    <div>
        <p>
            <b>To the students:</b>
        </p>

        <p style="text-indent: 50px;">
            Using our application you will have support, doing lots of the jobs that could be devastating for you if you
            were on your own. you will have more free time to care about your studies and other important aspects of
            your education.
        </p>
    </div>
    <div>
        <p>
            <b>To the prospective mentors:</b>
        </p>

        <p style="text-indent: 50px;">
            Using the system, you will develop experience about voluntarily jobs. You will also have the chance to
            find new friends. And our system will make your help more efficient, so you can save time on helping other
            students, too.
        </p>
    </div>
</div>
<footer class="col-lg-12 col-sm-12 col-xs-12">
    <% include ../partials/footer %>
</footer>

</body>