<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
<div class="container fill col-lg-10 col-lg-offset-1">
    <header style="margin-top: 50px;">
        <% include ../partials/header %>
    </header>
    <div>
        <p style="text-align: center;">
            This page is under construction... We will serve you soon!
        </p>
        <div style="text-align: center;">
            <img width="30%" src="../images/underconstruction.png"/>
        </div>
    </div>
</div>
<footer class="col-lg-12 col-sm-12 col-xs-12">
    <% include ../partials/footer %>
</footer>

</body>